Inital Data Collection Colorado single family homes

In [1]:
#Imports
import pandas as pd
import numpy as np

In [2]:
#bring in my first(maybe only file)
city_data = pd.read_csv("../raw_data/zillow_by_city.csv")
city_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,1996-02-29,...,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,209511.0,208931.0,...,675652.0,677184.0,679658.0,682285.0,684315.0,686851.0,689201.0,691542.0,693259.0,695554.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,195863.0,195908.0,...,806355.0,813477.0,823456.0,834844.0,843226.0,850778.0,857116.0,863334.0,870550.0,878222.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,96026.0,96126.0,...,199831.0,200756.0,201806.0,203484.0,205079.0,207072.0,208948.0,211069.0,213133.0,214554.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,135983.0,135846.0,...,246971.0,248759.0,250859.0,253628.0,256437.0,258784.0,260942.0,262627.0,265540.0,268147.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,96806.0,96772.0,...,194299.0,195170.0,196279.0,197684.0,199381.0,201150.0,203054.0,204946.0,207176.0,209319.0

In [3]:
colorado = city_data[city_data.State == 'CO']

In [4]:
colorado.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,1996-02-29,...,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31
23,11093,23,Denver,City,CO,CO,Denver-Aurora-Lakewood,Denver County,135157.0,135778.0,...,514275.0,516521.0,519309.0,522748.0,527436.0,532668.0,537399.0,541721.0,546412.0,551364.0
42,4172,42,Colorado Springs,City,CO,CO,Colorado Springs,El Paso County,137202.0,137676.0,...,350273.0,353525.0,357014.0,360620.0,364985.0,370754.0,376583.0,382219.0,386895.0,392043.0
56,16846,57,Aurora,City,CO,CO,Denver-Aurora-Lakewood,Arapahoe County,133629.0,134114.0,...,390019.0,392526.0,395926.0,399250.0,403469.0,407229.0,411328.0,415109.0,420035.0,425454.0
152,4764,154,Fort Collins,City,CO,CO,Fort Collins,Larimer County,168854.0,168869.0,...,452970.0,454602.0,456800.0,459001.0,462350.0,465369.0,468587.0,472187.0,476910.0,481908.0
198,47250,201,Pueblo,City,CO,CO,Pueblo,Pueblo County,83261.0,83689.0,...,208006.0,210293.0,212997.0,215680.0,218545.0,221230.0,224121.0,226894.0,230036.0,233754.0

In [5]:
colorado = colorado.drop(['StateName', 'State', 'SizeRank', 'RegionType', 'RegionID', 'Metro'], axis=1)

In [6]:
colorado.head()

,RegionName,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,...,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31
23,Denver,Denver County,135157.0,135778.0,136314.0,137428.0,138374.0,139275.0,140184.0,140952.0,...,514275.0,516521.0,519309.0,522748.0,527436.0,532668.0,537399.0,541721.0,546412.0,551364.0
42,Colorado Springs,El Paso County,137202.0,137676.0,138124.0,139135.0,140193.0,141318.0,142367.0,143509.0,...,350273.0,353525.0,357014.0,360620.0,364985.0,370754.0,376583.0,382219.0,386895.0,392043.0
56,Aurora,Arapahoe County,133629.0,134114.0,134503.0,135231.0,135929.0,136607.0,137399.0,138094.0,...,390019.0,392526.0,395926.0,399250.0,403469.0,407229.0,411328.0,415109.0,420035.0,425454.0
152,Fort Collins,Larimer County,168854.0,168869.0,169050.0,169375.0,169754.0,169997.0,170108.0,170172.0,...,452970.0,454602.0,456800.0,459001.0,462350.0,465369.0,468587.0,472187.0,476910.0,481908.0
198,Pueblo,Pueblo County,83261.0,83689.0,84041.0,84651.0,85209.0,85792.0,86449.0,87142.0,...,208006.0,210293.0,212997.0,215680.0,218545.0,221230.0,224121.0,226894.0,230036.0,233754.0

In [7]:
colorado.RegionName.unique()

array(['Denver', 'Colorado Springs', 'Aurora', 'Fort Collins', 'Pueblo',
       'Lakewood', 'Thornton', 'Boulder', 'Westminster', 'Arvada',
       'Centennial', 'Grand Junction', 'Highlands Ranch', 'Greeley',
       'Loveland', 'Parker', 'Longmont', 'Broomfield', 'Castle Rock',
       'Commerce City', 'Littleton', 'Brighton', 'Englewood',
       'Northglenn', 'Durango', 'Montrose', 'Ken Caryl',
       'Security-Widefield', 'Wheat Ridge', 'Fountain', 'Canon City',
       'Golden', 'Evergreen', 'Columbine', 'Monument', 'Morrison',
       'Lafayette', 'Evans', 'Louisville', 'Sherrelwood', 'Erie',
       'Peyton', 'Steamboat Springs', 'Sterling', 'Fort Morgan',
       'Fort Lupton', 'Cortez', 'Alamosa', 'Glenwood Springs', 'Windsor',
       'Welby', 'Greenwood Village', 'Black Forest', 'Fruita',
       'Lone Tree', 'Delta', 'Clifton', 'Berthoud', 'Federal Heights',
       'Rifle', 'Woodland Park', 'Craig', 'Elizabeth', 'Superior',
       'Gypsum', 'Pagosa Springs', 'Breckenridge', 'Aspen', 'Vail',
       'La Junta', 'Silverthorne', 'Gunnison', 'Firestone', 'Berkley',
       'Salida', 'Bayfield', 'Basalt', 'Lamar', 'Frederick', 'Estes Park',
       'Edwards', 'Elbert', 'Wellington', 'Sedalia', 'Leadville',
       'Applewood', 'Franktown', 'Conifer', 'Penrose', 'Bailey', 'Brush',
       'Buena Vista', 'Roxborough Park', 'Monte Vista', 'New Castle',
       'Ignacio', 'Milliken', 'Cherry Hills Village', 'Avon', 'Sheridan',
       'Johnstown', 'Twin Lakes', 'U S A F Academy', 'Granby', 'Mancos',
       'Derby', 'Rocky Ford', 'Platteville', 'Larkspur', 'Cedaredge',
       'Burlington', 'Manitou Springs', 'Parachute', 'La Salle',
       'Las Animas', 'Keystone', 'Idaho Springs', 'Gleneagle', 'Palisade',
       'Glendale', 'Calhan', 'Yuma', 'Olathe', 'Edgewater', 'Stratmoor',
       'Silt', 'Lyons', 'Florissant', 'Dacono', 'Walsenburg', 'Meeker',
       'Nederland', 'Lochbuie', 'Todd Creek', 'Hudson', 'Del Norte',
       'Divide', 'Hotchkiss', 'Westcliffe', 'Wray', 'Trinidad', 'Dolores',
       'Crested Butte', 'Pine', 'Byers', 'Strasburg', 'Holyoke',
       'Ridgway', 'Carbondale', 'Meridian', 'Rockvale', 'Coal Creek',
       'Whitewater', 'Galeton', 'Ault', 'West Pleasant View', 'Hesperus',
       'Kersey', 'Akron', 'Paonia', 'Sanford', 'Kiowa', 'Center',
       'Antonito', 'Rangely', 'Ordway', 'Hayden', 'Limon', 'Genesee',
       'Niwot', 'Livermore', 'Kremmling', 'Wiggins', 'Romeo', 'Fowler',
       'Colorado City', 'La Jara', 'Laporte', 'Rollinsville',
       'Cripple Creek', 'Eaton', 'De Beque', 'Mack', 'Springfield',
       'Bellvue', 'Acres Green', 'Keenesburg', 'Watkins', 'Timnath',
       'Crawford', 'Oak Creek', 'Wolcott', 'Frisco', 'La Veta', 'Yoder',
       'Holly', 'Nathrop', 'Fairplay', 'Grand Lake', 'Cotopaxi', 'Ramah',
       'Grant', 'Bonanza City', 'Georgetown', 'Collbran', 'Mead',
       'Winter Park', 'Orchard City', 'Ophir', 'North Washington',
       'Bow Mar', 'Walden', 'Hugo', 'Severance', 'Pierce', 'Coaldale',
       'Deer Trail', 'Alma', 'Palmer Lake', 'Snowmass Village', 'Drake',
       'Gilcrest', 'Genoa', 'Crestone', 'Julesburg', 'Swink',
       'Lake George', 'Florence', 'Boone', 'Louviers', 'Wetmore',
       'Olney Springs', 'Nucla', 'Carr', 'Crowley', 'Vernon', 'Loma',
       'Dove Creek', 'Weston', 'Columbine Valley', 'Beulah', 'Eads',
       'Avondale', 'San Luis', 'Saint Marys', 'Mosca', 'Weldona',
       'Sawpit', 'Walsh', 'South Fork', 'Yellow Jacket', 'Hartsel',
       'Redstone', 'Rye', 'Brookside', 'Stratton', 'Manzanola',
       'Mount Crested Butte', 'Creede', 'Cokedale', 'Otis', 'Howard',
       'Red Feather Lakes', 'Pleasant View', 'Fleming', 'Parshall',
       'Model', 'Roggen', 'Bennett', 'Gill', 'Nunn', 'Rush', 'Atwood',
       'Merino', 'Starkville', 'Empire', 'Guffey', 'Foxfield', 'Moffat',
       'Briggsdale', 'Orchard', 'Flagler', 'Ward', 'Sugar City', 'Ovid',
       'Cheyenne Wells', 'Aguilar', 'Green Mountain Falls', 'Dillon',
       'Somerset', 'Blanca', 'Gardner', 'Saguache', 'Tabernash',
       'Kit Carson', 'Granada', 'Fort Garland', 'Arapahoe', 'Marble',
       'Bethune', 'Wiley', 'Hartman', 'Chromo', 'Placerville', 'Iliff',
       'Norwood', 'Almont', 'Indian Hills', 'Mountain View', 'Simla',
       'Mountain Village', 'Lake City', 'Woodrow', 'Sedgwick', 'Egnar',
       'Idalia', 'Jefferson', 'Red Cliff', 'Padroni', 'Bond',
       'Glade Park', 'Silverton', 'Peetz', 'Agate', 'Crook', 'Matheson',
       'Snyder', 'Eckley', 'Hasty', 'Naturita', 'Silver Plume', 'Kim',
       'Clark', 'Meredith', 'Silver Cliff', 'Maybell', 'Telluride',
       'Garden City', 'Stoneham', 'Manassa', 'Jamestown', 'Hamilton',
       'Eldorado Springs', 'Vona', 'East Pleasant View', 'Bedrock',
       'Seibert', 'Ouray', 'Mesa', 'Allenspark', 'Pritchett',
       'Hot Sulphur Springs', 'Redvale', 'Kittredge', 'Karval',
       'Ohio City', 'Haswell', 'Cimarron', 'Victor', 'Hillrose', 'Cope',
       'Arriba', 'Anton', 'Molina', 'Slater', 'Lindon', 'Pitkin',
       'Hooper', 'McClave', 'Joes', 'Fraser', 'Central City', 'Kirk',
       'Powderhorn', 'Cowdrey', 'Phippsburg', 'Lewis', 'Cahone', 'Yampa',
       'Parlin', 'Dinosaur', 'Haxtun', 'Woody Creek', 'Gold Hill',
       'Williamsburg', 'Buffalo Creek', 'Downieville-Lawson-Dumont',
       'Black Hawk', 'Pinecliffe', 'Idledale', 'Log Lane Village', 'Rico',
       'Poncha Springs'], dtype=object)

In [8]:
#Came back up here to change the index name for easy merge
colorado = colorado.rename(columns={'RegionName': 'City'})

In [9]:
colorado.head()

,City,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,...,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31
23,Denver,Denver County,135157.0,135778.0,136314.0,137428.0,138374.0,139275.0,140184.0,140952.0,...,514275.0,516521.0,519309.0,522748.0,527436.0,532668.0,537399.0,541721.0,546412.0,551364.0
42,Colorado Springs,El Paso County,137202.0,137676.0,138124.0,139135.0,140193.0,141318.0,142367.0,143509.0,...,350273.0,353525.0,357014.0,360620.0,364985.0,370754.0,376583.0,382219.0,386895.0,392043.0
56,Aurora,Arapahoe County,133629.0,134114.0,134503.0,135231.0,135929.0,136607.0,137399.0,138094.0,...,390019.0,392526.0,395926.0,399250.0,403469.0,407229.0,411328.0,415109.0,420035.0,425454.0
152,Fort Collins,Larimer County,168854.0,168869.0,169050.0,169375.0,169754.0,169997.0,170108.0,170172.0,...,452970.0,454602.0,456800.0,459001.0,462350.0,465369.0,468587.0,472187.0,476910.0,481908.0
198,Pueblo,Pueblo County,83261.0,83689.0,84041.0,84651.0,85209.0,85792.0,86449.0,87142.0,...,208006.0,210293.0,212997.0,215680.0,218545.0,221230.0,224121.0,226894.0,230036.0,233754.0

Time to decide which cities I want to focus on.  Grabbing data data from Wikipedia to get population 
#and elevation of cities.  The elevation variable will give a easy cut off to narrow df to just mountian towns

In [10]:
url = "https://en.wikipedia.org/wiki/List_of_cities_in_the_United_States_by_elevation"
co_cities = pd.read_html(url)

In [11]:
type(co_cities)

list

In [12]:
len(co_cities)

8

In [13]:
co_cities

[      State        City            Elevation  Population Average Yearly Temp
 0  Colorado        Alma  10,361 ft (3,158 m)         313    32.4 °F (0.2 °C)
 1  Colorado   Montezuma  10,312 ft (3,143 m)          74    37.5 °F (3.1 °C)
 2  Colorado   Leadville  10,151 ft (3,094 m)        2868    35.1 °F (1.7 °C)
 3  Colorado  St. Mary's  10,079 ft (3,072 m)         283             No Data
 4  Colorado  Blue River  10,020 ft (3,054 m)         921             No Data,
          State                 City           Elevation  Population  \
 0     Colorado             Fairplay  9,953 ft (3,034 m)         787
 1     Colorado                 Como  9,813 ft (2,991 m)         439
 2         Utah           Brian Head  9,800 ft (2,987 m)          83
 3     Colorado               Victor  9,708 ft (2,959 m)         426
 4     Colorado           Twin Lakes  9,700 ft (2,957 m)         171
 5     Colorado                Ophir  9,695 ft (2,955 m)         184
 6     Colorado         Breckenridge  9,600 ft (2,926 m)        5020
 7     Colorado     Mountain Village  9,545 ft (2,909 m)        1426
 8     Colorado        Cripple Creek  9,494 ft (2,894 m)        1258
 9     Colorado                 Ward  9,450 ft (2,880 m)         161
 10    Colorado  Mount Crested Butte  9,375 ft (2,858 m)         876
 11  New Mexico      Taos Ski Valley  9,321 ft (2,841 m)          71
 12    Colorado            Silverton  9,318 ft (2,840 m)         694
 13    Colorado               Pitkin  9,216 ft (2,809 m)          69
 14    Colorado             Keystone  9,173 ft (2,796 m)        1079
 15    Colorado               Dillon  9,111 ft (2,777 m)         967
 16    Colorado         Silver Plume  9,101 ft (2,774 m)         177
 17    Colorado               Frisco  9,097 ft (2,773 m)        3174
 18     Wyoming             Fox Park  9,062 ft (2,762 m)          22
 19    Colorado          Winter Park  9,052 ft (2,759 m)        1090
 20    Colorado         Silverthorne  9,035 ft (2,754 m)        4898
 21    Colorado              Granite  9,012 ft (2,747 m)         116

    Average Yearly Temp
 0     35.0 °F (1.7 °C)
 1              No Data
 2     35.6 °F (2.0 °C)
 3     39.9 °F (4.4 °C)
 4              No Data
 5     35.1 °F (1.7 °C)
 6     33.5 °F (0.8 °C)
 7              No Data
 8              No Data
 9              No Data
 10             No Data
 11             No Data
 12    35.3 °F (1.8 °C)
 13             No Data
 14             No Data
 15    34.9 °F (1.6 °C)
 16             No Data
 17             No Data
 18    34.1 °F (1.2 °C)
 19             No Data
 20    35.7 °F (2.1 °C)
 21             No Data  ,
          State              City           Elevation  Population
 0     Colorado     Crested Butte  8,909 ft (2,715 m)        1681
 1     Colorado            Creede  8,952 ft (2,729 m)         313
 2     Colorado            Guffey  8,890 ft (2,710 m)          98
 3     Colorado           Hartsel  8,864 ft (2,702 m)         909
 4     Colorado              Rico  8,825 ft (2,690 m)         231
 5     Colorado        Coal Creek  8,753 ft (2,668 m)        2400
 6     Colorado         Telluride  8,750 ft (2,667 m)        2479
 7     Colorado         Red Cliff  8,750 ft (2,667 m)         282
 8     Colorado       Hidden Lake  8,740 ft (2,664 m)          31
 9         Utah          Brighton  8,707 ft (2,654 m)         180
 10  New Mexico        Cloudcroft  8,676 ft (2,644 m)         674
 11  New Mexico         Red River  8,671 ft (2,643 m)         463
 12    Colorado         Lake City  8,661 ft (2,640 m)         394
 13    Colorado            Eldora  8,642 ft (2,634 m)         142
 14    Colorado            Empire  8,615 ft (2,626 m)         304
 15    Colorado            Fraser  8,574 ft (2,613 m)        1326
 16        Utah              Alta  8,560 ft (2,609 m)         379
 17    Colorado        Black Hawk  8,536 ft (2,602 m)         128
 18    Colorado        Georgetown  8,530 ft (2,600 m)        1112
 19    Colorado        Allenspark  8,504 ft (2,592 m)         528
 20    Colorado      Rollinsville  8,474 ft (2,583 m)         181
 21    Colorado     Woodland Park  8,465 ft (2,580 m)        7885
 22  New Mexico        Angel Fire  8,406 ft (2,562 m)        1070
 23    Colorado        Grand Lake  8,369 ft (2,551 m)         506
 24     Arizona             Greer  8,356 ft (2,547 m)          41
 25    Colorado         Tabernash  8,333 ft (2,540 m)         417
 26    Colorado         Gold Hill  8,300 ft (2,530 m)         230
 27    Colorado           Toponas  8,284 ft (2,525 m)          26
 28  New Mexico        Eagle Nest  8,238 ft (2,511 m)         251
 29    Colorado         Nederland  8,228 ft (2,508 m)        1533
 30    Colorado           Conifer  8,227 ft (2,508 m)       19683
 31    Colorado  Snowmass Village  8,209 ft (2,502 m)        2732
 32    Colorado        South Fork  8,209 ft (2,502 m)         425
 33    Colorado        Florissant  8,200 ft (2,499 m)         104
 34    Colorado              Vail  8,150 ft (2,484 m)        5434
 35    Colorado        Aspen Park  8,133 ft (2,479 m)         882
 36    Colorado          Portland  8,100 ft (2,469 m)         135
 37    Colorado            Walden  8,099 ft (2,469 m)         599
 38    Colorado            Heeney  8,045 ft (2,452 m)          76
 39     Arizona            Alpine  8,012 ft (2,442 m)         145
 40    Colorado             Aspen  8,000 ft (2,438 m)        7365,
          State                  City           Elevation  Population
 0     Colorado          Silver Cliff  7,986 ft (2,434 m)         667
 1     Colorado           Buena Vista  7,965 ft (2,428 m)        2866
 2   California                Alpine  7,690 ft (2,344 m)         158
 3     Colorado          Fort Garland  7,936 ft (2,419 m)         433
 4     Colorado                Granby  7,935 ft (2,419 m)        2139
 5     Colorado              Antonito  7,890 ft (2,405 m)         747
 6     Colorado             Del Norte  7,884 ft (2,403 m)        1568
 7   California         Mammoth Lakes  7,881 ft (2,402 m)        8127
 8     Colorado                 Yampa  7,881 ft (2,402 m)         464
 9     Colorado       Loghill Village  7,874 ft (2,400 m)         521
 10    Colorado            Westcliffe  7,867 ft (2,398 m)         628
 11    Colorado               Minturn  7,861 ft (2,396 m)        1145
 12    Colorado             Sugarloaf  7,842 ft (2,390 m)         261
 13    Colorado  Green Mountain Falls  7,800 ft (2,377 m)         722
 14    Colorado                 Ouray  7,792 ft (2,375 m)        1010
 15    Colorado               Genesee  7,743 ft (2,360 m)        3609
 16    Colorado                Bailey  7,739 ft (2,359 m)        8042
 17    Colorado                 Romeo  7,736 ft (2,358 m)         411
 18    Colorado              Gunnison  7,703 ft (2,348 m)        6594
 19    Colorado              Saguache  7,703 ft (2,348 m)         505
 20    Colorado               Manassa  7,690 ft (2,344 m)        1001
 21    Colorado   Hot Sulphur Springs  7,680 ft (2,341 m)         733
 22    Colorado           Monte Vista  7,664 ft (2,336 m)        4138
 23    Colorado                Center  7,644 ft (2,330 m)        2264
 24    Colorado               Sanford  7,605 ft (2,318 m)         887
 25    Colorado               La Jara  7,605 ft (2,318 m)         817
 26    Colorado            Eagle-Vail  7,602 ft (2,317 m)        2887
 27    Colorado               Alamosa  7,543 ft (2,299 m)        9591
 28    Colorado         Idaho Springs  7,526 ft (2,294 m)        1786
 29    Colorado               Edwards  7,552 ft (2,302 m)       10266
 30    Colorado            Estes Park  7,522 ft (2,293 m)        6426
 31    Colorado            Phippsburg  7,487 ft (2,282 m)         204
 32    Colorado        Poncha Springs  7,464 ft (2,275 m)         956
 33  New Mexico                Questa  7,461 ft (2,274 m)        1755
 34    Colorado                  Avon  7,431 ft (2,265 m)        6511
 35    Colorado             Oak Creek  7,428 ft (2,264 m)         959
 36    Colorado           Placerville  7,408 ft (2,258 m)         727
 37    Colorado          Black Forest  7,369 ft (2,246 m)       13116
 38    Colorado           Woody Creek  7,346 ft (2,239 m)         263
 39  New Mexico            Los Alamos  7,320 ft (2,231 m)       12019
 40    Colorado             Kremmling  7,313 ft (2,229 m)        1524
 41    Colorado      Mountain Meadows  7,260 ft (2,213 m)         274
 42    Colorado              Woodmoor  7,244 ft (2,208 m)        8741
 43    Colorado             Evergreen  7,220 ft (2,201 m)        9038
 44  New Mexico              Santa Fe  7,199 ft (2,194 m)       84683
 45     Wyoming               Laramie  7,165 ft (2,184 m)       32711
 46    Colorado        Pagosa Springs  7,126 ft (2,172 m)        2005
 47    Colorado                Salida  7,083 ft (2,159 m)        6082
 48     Arizona                 Eagar  7,080 ft (2,158 m)        4885
 49        Utah    Independence, Utah  7,073 ft (2,156 m)         198
 50    Colorado             Kittredge  7,073 ft (2,156 m)        1304
 51    Colorado               La Veta  7,037 ft (2,145 m)         811
 52    Colorado                Mancos  7,028 ft (2,142 m)        1430
 53    Colorado               Norwood  7,011 ft (2,137 m)         579,
          State               City           Elevation  Population
 0     Colorado            Ridgway  6,985 ft (2,129 m)        1039
 1      Arizona      Springerville  6,967 ft (2,124 m)        1961
 2     Colorado            Dolores  6,936 ft (2,114 m)         955
 3      Arizona          Flagstaff  6,910 ft (2,106 m)       71459
 4     Colorado           Bayfield  6,900 ft (2,103 m)        2689
 5     Colorado          Gleneagle  6,857 ft (2,090 m)        6611
 6     Colorado         Dove Creek  6,844 ft (2,086 m)         634
 7     Colorado             Falcon  6,831 ft (2,082 m)       10514
 8      Arizona   Pinetop-Lakeside  6,804 ft (2,074 m)        4282
 9     Colorado           Crawford  6,800 ft (2,073 m)         433
 10  California      Big Bear City  6,772 ft (2,064 m)       34109
 11     Arizona           Williams  6,766 ft (2,062 m)        3023
 12     Wyoming           Evanston  6,749 ft (2,057 m)       11704
 13    Colorado  Steamboat Springs  6,732 ft (2,052 m)       13212
 14    Colorado           El Jebel  6,617 ft (2,017 m)        3801
 15     Arizona            Tusayan  6,612 ft (2,015 m)         558
 16    Colorado             Basalt  6,611 ft (2,015 m)        4157
 17    Colorado              Eagle  6,601 ft (2,012 m)        6986
 18    Colorado             Calhan  6,535 ft (1,992 m)         834
 19    Colorado            Durango  6,512 ft (1,985 m)       18985
 20    Colorado    Pine Brook Hill  6,512 ft (1,985 m)         983
 21    Colorado         Perry Park  6,503 ft (1,982 m)        1646
 22    Colorado          Elizabeth  6,476 ft (1,974 m)        1566
 23  New Mexico             Gallup  6,468 ft (1,971 m)       22670
 24    Colorado     Cimarron Hills  6,463 ft (1,970 m)       16161
 25      Nevada                Ely  6,437 ft (1,962 m)        3944
 26  New Mexico          Las Vegas  6,424 ft (1,958 m)       13285
 27    Colorado            Aguilar  6,394 ft (1,949 m)         480
 28     Wyoming       Rock Springs  6,388 ft (1,947 m)       23082
 29    Colorado              Kiowa  6,378 ft (1,944 m)         761
 30    Colorado       Castle Pines  6,368 ft (1,941 m)       10507
 31     Arizona           Show Low  6,345 ft (1,934 m)       11098
 32    Colorado             Gypsum  6,312 ft (1,924 m)        7375
 33     Montana        Walkerville  6,309 ft (1,923 m)         708
 34    Colorado             Meeker  6,240 ft (1,902 m)        2252
 35  California   South Lake Tahoe  6,237 ft (1,901 m)       21978
 36     Wyoming            Jackson  6,237 ft (1,901 m)       10429
 37    Colorado          Cedaredge  6,230 ft (1,899 m)        2295
 38    Colorado        Castle Rock  6,224 ft (1,897 m)       64827
 39    Colorado              Craig  6,198 ft (1,889 m)        9022
 40    Colorado          Franktown  6,197 ft (1,889 m)         395
 41    Colorado             Cortez  6,191 ft (1,887 m)        8736
 42    Colorado         Carbondale  6,181 ft (1,884 m)        6898
 43  New Mexico     Sandia Heights  6,180 ft (1,884 m)       10293
 44    Colorado         Walsenburg  6,171 ft (1,881 m)        3029
 45     Wyoming        Green River  6,115 ft (1,864 m)       11978
 46    Colorado         The Pinery  6,066 ft (1,849 m)       10517
 47     Wyoming           Cheyenne  6,063 ft (1,848 m)       63957
 48    Colorado   Colorado Springs  6,035 ft (1,839 m)      465101
 49    Colorado           Trinidad  6,010 ft (1,832 m)        9096
 50    Colorado             Towaoc  6,007 ft (1,831 m)        1087,
              State                     City           Elevation  Population
 0         Colorado                Lone Tree  5,948 ft (1,813 m)       14653
 1       New Mexico  Silver City, New Mexico  5,895 ft (1,797 m)        9386
 2         Colorado                   Parker  5,869 ft (1,789 m)       55636
 3             Utah               Cedar City  5,846 ft (1,782 m)       31223
 4         Colorado               Centennial  5,830 ft (1,777 m)      110250
 5       California                  Truckee  5,817 ft (1,773 m)       16391
 6         Colorado                 Montrose  5,807 ft (1,770 m)       19512
 7          Arizona                   Taylor  5,761 ft (1,756 m)        4112
 8          Arizona                St. Johns  5,686 ft (1,733 m)        3480
 9          Arizona                Snowflake  5,682 ft (1,732 m)        5590
 10        Colorado                   Golden  5,675 ft (1,730 m)       21254
 11          Nevada             Spring Creek  5,659 ft (1,725 m)       12361
 12            Utah               Heber City  5,604 ft (1,708 m)       14969
 13      New Mexico                 Española  5,595 ft (1,705 m)       10050
 14        Colorado                 Fountain  5,545 ft (1,690 m)       30454
 15         Arizona                   Bisbee  5,538 ft (1,688 m)        5575
 16         Montana                    Butte  5,538 ft (1,688 m)       34284
 17        Colorado                 Lakewood  5,518 ft (1,682 m)      154393
 18  North Carolina           Beech Mountain  5,506 ft (1,678 m)         323
 19        Colorado                 Superior  5,495 ft (1,675 m)       13175
 20        Colorado              Wheat Ridge  5,459 ft (1,664 m)       31400
 21        Colorado        Greenwood Village  5,422 ft (1,653 m)       15801
 22        Colorado               Broomfield  5,420 ft (1,652 m)       69267
 23        Colorado                   Aurora  5,403 ft (1,647 m)      361710
 24      New Mexico               Farmington  5,395 ft (1,644 m)       41629
 25        Colorado              Westminster  5,384 ft (1,641 m)      113479
 26        Colorado               Northglenn  5,377 ft (1,639 m)       39010
 27        Colorado                Englewood  5,371 ft (1,637 m)       34690
 28         Arizona                 Prescott  5,368 ft (1,636 m)       42731
 29        Colorado                 Thornton  5,351 ft (1,631 m)      136703
 30        Colorado                Littleton  5,351 ft (1,631 m)       48007
 31        Colorado                   Arvada  5,344 ft (1,629 m)      117453
 32        Colorado               Louisville  5,335 ft (1,626 m)       21163
 33        Colorado               Cañon City  5,332 ft (1,625 m)       16750
 34        Colorado                  Boulder  5,328 ft (1,624 m)      107125
 35    South Dakota                   Custer  5,315 ft (1,620 m)        1935
 36      New Mexico              Albuquerque  5,312 ft (1,619 m)      560218
 37        Colorado          Federal Heights  5,292 ft (1,613 m)       12845
 38      New Mexico               Rio Rancho  5,282 ft (1,610 m)       98023
 39        Colorado                   Denver  5,280 ft (1,609 m)      716492
 40    South Dakota                     Lead  5,213 ft (1,589 m)        2985
 41        Colorado                Lafayette  5,210 ft (1,588 m)       28924
 42        Colorado            Commerce City  5,164 ft (1,574 m)       58449
 43    South Dakota                Hill City  5,159 ft (1,572 m)        1002
 44         Wyoming                   Casper  5,150 ft (1,570 m)       57461
 45        Colorado                     Erie  5,130 ft (1,564 m)       25447
 46         Arizona           Bitter Springs  5,115 ft (1,559 m)         452
 47         Arizona                 Holbrook  5,082 ft (1,549 m)        5053
 48          Nevada                     Elko  5,066 ft (1,544 m)       20442
 49         Arizona                   Jerome  5,066 ft (1,544 m)         444
 50            Utah                   Tooele  5,050 ft (1,539 m)       35251
 51         Arizona          Prescott Valley  5,026 ft (1,532 m)       45500
 52        Colorado             Fort Collins  5,003 ft (1,525 m)      164207
 53         Arizona                   Payson  5,000 ft (1,524 m)       15301,
          State           City           Elevation  Population
 0     Colorado       Longmont  4,984 ft (1,519 m)       96577
 1     Colorado       Brighton  4,984 ft (1,519 m)       41254
 2     Colorado      Frederick  4,984 ft (1,519 m)       13480
 3     Colorado       Loveland  4,982 ft (1,519 m)       77446
 4      Arizona  Colorado City  4,977 ft (1,517 m)        4821
 ..         ...            ...                 ...         ...
 67      Oregon  Klamath Falls  4,099 ft (1,249 m)       21524
 68     Arizona        Douglas  4,032 ft (1,229 m)       17378
 69       Texas   Horizon City  4,022 ft (1,226 m)       19562
 70     Arizona        Douglas  4,006 ft (1,221 m)       16604
 71  New Mexico       Portales  4,006 ft (1,221 m)       11989

 [72 rows x 4 columns],
              State                City           Elevation  Population
 0       California              Phelan  3,993 ft (1,217 m)       14304
 1       California           Tehachapi  3,970 ft (1,210 m)       12630
 2         Colorado            Sterling  3,937 ft (1,200 m)       13630
 3       New Mexico           Lovington  3,911 ft (1,192 m)       11399
 4       New Mexico          Las Cruces  3,900 ft (1,189 m)      101759
 5         Nebraska         Scottsbluff  3,891 ft (1,186 m)       14874
 6          Montana              Helena  3,875 ft (1,181 m)       32315
 7          Arizona             Nogales  3,829 ft (1,167 m)       20008
 8            Texas            Hereford  3,816 ft (1,163 m)       15370
 9            Texas            Muleshoe  3,793 ft (1,156 m)        5158
 10      New Mexico        Sunland Park  3,789 ft (1,155 m)       16544
 11           Idaho              Jerome  3,763 ft (1,147 m)       11807
 12          Hawaii     Volcano, Hawaii  3,750 ft (1,143 m)        2575
 13           Idaho          Twin Falls  3,745 ft (1,141 m)       48260
 14           Texas             El Paso  3,740 ft (1,140 m)      682669
 15          Kansas            Goodland  3,681 ft (1,122 m)        4489
 16           Texas               Dumas  3,661 ft (1,116 m)       14916
 17    South Dakota           Whitewood  3,655 ft (1,114 m)        1104
 18    South Dakota           Spearfish  3,648 ft (1,112 m)       11688
 19          Oregon                Bend  3,623 ft (1,104 m)       91122
 20      New Mexico               Hobbs  3,622 ft (1,104 m)       38143
 21           Texas            Amarillo  3,605 ft (1,099 m)      199248
 22         Arizona              Benson  3,586 ft (1,093 m)        5105
 23    South Dakota           Summerset  3,579 ft (1,091 m)        2477
 24      New Mexico             Roswell  3,573 ft (1,089 m)       48184
 25         Arizona           Clarkdale  3,545 ft (1,081 m)        4097
 26           Texas              Canyon  3,543 ft (1,080 m)       13303
 27           Texas           Levelland  3,520 ft (1,073 m)       13542
 28         Arizona               Globe  3,510 ft (1,070 m)        7532
 29    South Dakota          Black Hawk  3,494 ft (1,065 m)        3057

!!Could use some help on this one.  How can I writh is to avoid redundency

In [14]:
#cities = pd.DataFrame([t for lst in co_cities[:] for t in lst])
cities9 = pd.DataFrame(co_cities[0])
cities8 = pd.DataFrame(co_cities[1])
cities7 = pd.DataFrame(co_cities[2])
cities6 = pd.DataFrame(co_cities[3])

In [15]:
cities = cities9.append(cities8).append(cities7).append(cities6)

In [16]:
cities

,State,City,Elevation,Population,Average Yearly Temp
0,Colorado,Alma,"10,361 ft (3,158 m)",313,32.4 °F (0.2 °C)
1,Colorado,Montezuma,"10,312 ft (3,143 m)",74,37.5 °F (3.1 °C)
2,Colorado,Leadville,"10,151 ft (3,094 m)",2868,35.1 °F (1.7 °C)
3,Colorado,St. Mary's,"10,079 ft (3,072 m)",283,No Data
4,Colorado,Blue River,"10,020 ft (3,054 m)",921,No Data
...,...,...,...,...,...
49,Utah,"Independence, Utah","7,073 ft (2,156 m)",198,NaN
50,Colorado,Kittredge,"7,073 ft (2,156 m)",1304,NaN
51,Colorado,La Veta,"7,037 ft (2,145 m)",811,NaN
52,Colorado,Mancos,"7,028 ft (2,142 m)",1430,NaN
53,Colorado,Norwood,"7,011 ft (2,137 m)",579,NaN

In [17]:
cities = cities.drop(cities[['State', 'Average Yearly Temp']], axis=1)

In [18]:
cities.head()

         City            Elevation  Population
0        Alma  10,361 ft (3,158 m)         313
1   Montezuma  10,312 ft (3,143 m)          74
2   Leadville  10,151 ft (3,094 m)        2868
3  St. Mary's  10,079 ft (3,072 m)         283
4  Blue River  10,020 ft (3,054 m)         921

Time to merge price df and elevation df.

In [19]:
df_merged = cities.merge(colorado, how='outer', on='City')

In [20]:
df_merged

,City,Elevation,Population,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,...,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31
0,Alma,"10,361 ft (3,158 m)",313.0,Park County,123375.0,123311.0,123869.0,124615.0,125083.0,125148.0,...,370451.0,371500.0,372690.0,374351.0,376059.0,379268.0,383202.0,387167.0,390912.0,394513.0
1,Montezuma,"10,312 ft (3,143 m)",74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Leadville,"10,151 ft (3,094 m)",2868.0,Lake County,NaN,NaN,NaN,NaN,NaN,NaN,...,263795.0,264547.0,265592.0,266793.0,268191.0,270711.0,273491.0,276574.0,279838.0,283275.0
3,St. Mary's,"10,079 ft (3,072 m)",283.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Blue River,"10,020 ft (3,054 m)",921.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,Buffalo Creek,NaN,NaN,Jefferson County,NaN,NaN,NaN,NaN,NaN,NaN,...,385715.0,389113.0,394498.0,396859.0,399794.0,403451.0,410257.0,419216.0,430573.0,443013.0
426,Downieville-Lawson-Dumont,NaN,NaN,Clear Creek County,NaN,NaN,NaN,NaN,NaN,NaN,...,361970.0,362601.0,363788.0,364935.0,366371.0,369092.0,371825.0,374452.0,376768.0,379327.0
427,Pinecliffe,NaN,NaN,Gilpin County,NaN,NaN,NaN,NaN,NaN,NaN,...,212058.0,213475.0,214451.0,214195.0,215276.0,216929.0,219364.0,221246.0,223153.0,224265.0
428,Idledale,NaN,NaN,Jefferson County,131281.0,132645.0,133754.0,135484.0,136603.0,138123.0,...,449140.0,452353.0,456749.0,464168.0,470484.0,478959.0,487320.0,496499.0,505851.0,516775.0
429,Log Lane Village,NaN,NaN,Morgan County,NaN,NaN,NaN,NaN,NaN,NaN,...,107837.0,108287.0,108595.0,108592.0,108866.0,109683.0,110982.0,112130.0,113138.0,114421.0

In [21]:
#Getting rid of all cities with a lower elevation
df = df_merged[df_merged['Elevation'].notna()]

In [22]:
df.describe()

,Population,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,...,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31
count,124.000000,4.900000e+01,4.900000e+01,4.900000e+01,4.900000e+01,4.900000e+01,4.900000e+01,4.900000e+01,4.900000e+01,4.900000e+01,...,8.900000e+01,8.900000e+01,8.900000e+01,8.900000e+01,8.900000e+01,8.900000e+01,8.900000e+01,8.900000e+01,8.900000e+01,8.900000e+01
mean,2953.064516,2.077407e+05,2.084539e+05,2.091252e+05,2.103069e+05,2.113817e+05,2.123690e+05,2.134312e+05,2.145353e+05,2.158438e+05,...,5.706320e+05,5.727890e+05,5.751104e+05,5.779320e+05,5.812549e+05,5.860835e+05,5.912584e+05,5.965286e+05,6.012390e+05,6.063457e+05
std,8500.541054,2.420306e+05,2.436126e+05,2.451113e+05,2.476207e+05,2.498698e+05,2.511489e+05,2.523648e+05,2.535693e+05,2.554964e+05,...,7.506068e+05,7.549172e+05,7.580875e+05,7.613821e+05,7.647742e+05,7.701251e+05,7.758333e+05,7.810064e+05,7.847886e+05,7.888573e+05
min,22.000000,3.168200e+04,3.205500e+04,3.250300e+04,3.312500e+04,3.361900e+04,3.394800e+04,3.442900e+04,3.512700e+04,3.588500e+04,...,7.581300e+04,7.689600e+04,7.745600e+04,7.812400e+04,7.884200e+04,8.031400e+04,8.166700e+04,8.284200e+04,8.335400e+04,8.370600e+04
25%,271.250000,1.098270e+05,1.097880e+05,1.099950e+05,1.103500e+05,1.105770e+05,1.101580e+05,1.102730e+05,1.098610e+05,1.100610e+05,...,2.763650e+05,2.771890e+05,2.779940e+05,2.789010e+05,2.800140e+05,2.829530e+05,2.861160e+05,2.887110e+05,2.903200e+05,2.920710e+05
50%,799.000000,1.338900e+05,1.342020e+05,1.346030e+05,1.353660e+05,1.360500e+05,1.367760e+05,1.374590e+05,1.382610e+05,1.390160e+05,...,3.766220e+05,3.777820e+05,3.788720e+05,3.804380e+05,3.822050e+05,3.858730e+05,3.893380e+05,3.927610e+05,3.957130e+05,3.989040e+05
75%,2298.000000,2.042470e+05,2.045850e+05,2.048570e+05,2.053980e+05,2.055140e+05,2.060580e+05,2.062340e+05,2.072520e+05,2.080050e+05,...,5.816450e+05,5.847690e+05,5.873000e+05,5.909140e+05,5.993260e+05,6.069910e+05,6.124220e+05,6.128130e+05,6.117440e+05,6.196070e+05
max,84683.000000,1.477025e+06,1.487339e+06,1.495857e+06,1.511223e+06,1.523179e+06,1.526592e+06,1.529059e+06,1.532417e+06,1.541540e+06,...,5.712037e+06,5.749816e+06,5.780317e+06,5.809827e+06,5.838258e+06,5.879279e+06,5.922096e+06,5.960151e+06,5.986173e+06,6.010498e+06

In [23]:
#df.apply(lambda x: x.count(), axis=1)
df_null = df.T.isnull().sum(axis=0).sort_values(ascending=False)

In [24]:
df_null

79    304
6     304
42    304
7     304
45    304
     ...
74      0
75      0
76      0
78      0
0       0
Length: 124, dtype: int64

In [25]:
df = df[df.isnull().sum(axis=1) < 150]

In [26]:
df.head()

,City,Elevation,Population,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,...,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31
0,Alma,"10,361 ft (3,158 m)",313.0,Park County,123375.0,123311.0,123869.0,124615.0,125083.0,125148.0,...,370451.0,371500.0,372690.0,374351.0,376059.0,379268.0,383202.0,387167.0,390912.0,394513.0
2,Leadville,"10,151 ft (3,094 m)",2868.0,Lake County,NaN,NaN,NaN,NaN,NaN,NaN,...,263795.0,264547.0,265592.0,266793.0,268191.0,270711.0,273491.0,276574.0,279838.0,283275.0
5,Fairplay,"9,953 ft (3,034 m)",787.0,Park County,120518.0,120820.0,121657.0,122684.0,123819.0,124603.0,...,372703.0,373859.0,375445.0,377032.0,378876.0,382112.0,386386.0,390523.0,394247.0,397445.0
8,Victor,"9,708 ft (2,959 m)",426.0,Teller County,52856.0,53549.0,54085.0,55158.0,56000.0,57271.0,...,133682.0,134713.0,135957.0,136907.0,137828.0,139283.0,141434.0,143657.0,146183.0,148641.0
9,Twin Lakes,"9,700 ft (2,957 m)",171.0,Adams County,117146.0,117568.0,117904.0,118501.0,119041.0,119740.0,...,392050.0,394537.0,397403.0,401827.0,406461.0,410791.0,415123.0,419289.0,424419.0,429662.0

In [27]:
df.columns

Index(['City', 'Elevation', 'Population', 'CountyName', '1996-01-31',
       '1996-02-29', '1996-03-31', '1996-04-30', '1996-05-31', '1996-06-30',
       ...
       '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31',
       '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31'],
      dtype='object', length=307)

In [28]:
df.reset_index(drop=True)

,City,Elevation,Population,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,...,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31
0,Alma,"10,361 ft (3,158 m)",313.0,Park County,123375.0,123311.0,123869.0,124615.0,125083.0,125148.0,...,370451.0,371500.0,372690.0,374351.0,376059.0,379268.0,383202.0,387167.0,390912.0,394513.0
1,Leadville,"10,151 ft (3,094 m)",2868.0,Lake County,NaN,NaN,NaN,NaN,NaN,NaN,...,263795.0,264547.0,265592.0,266793.0,268191.0,270711.0,273491.0,276574.0,279838.0,283275.0
2,Fairplay,"9,953 ft (3,034 m)",787.0,Park County,120518.0,120820.0,121657.0,122684.0,123819.0,124603.0,...,372703.0,373859.0,375445.0,377032.0,378876.0,382112.0,386386.0,390523.0,394247.0,397445.0
3,Victor,"9,708 ft (2,959 m)",426.0,Teller County,52856.0,53549.0,54085.0,55158.0,56000.0,57271.0,...,133682.0,134713.0,135957.0,136907.0,137828.0,139283.0,141434.0,143657.0,146183.0,148641.0
4,Twin Lakes,"9,700 ft (2,957 m)",171.0,Adams County,117146.0,117568.0,117904.0,118501.0,119041.0,119740.0,...,392050.0,394537.0,397403.0,401827.0,406461.0,410791.0,415123.0,419289.0,424419.0,429662.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,Salida,"7,083 ft (2,159 m)",6082.0,Chaffee County,NaN,NaN,NaN,NaN,NaN,NaN,...,428882.0,429991.0,431211.0,432593.0,434144.0,437357.0,440830.0,444415.0,447144.0,449810.0
77,Kittredge,"7,073 ft (2,156 m)",1304.0,Jefferson County,132228.0,132874.0,133088.0,133293.0,132848.0,132827.0,...,405987.0,410950.0,416031.0,422672.0,427957.0,434334.0,441249.0,448011.0,456388.0,465826.0
78,La Veta,"7,037 ft (2,145 m)",811.0,Huerfano County,NaN,NaN,NaN,NaN,NaN,NaN,...,224273.0,223691.0,223361.0,223603.0,223608.0,225882.0,228456.0,231372.0,232933.0,233262.0
79,Mancos,"7,028 ft (2,142 m)",1430.0,Montezuma County,122976.0,123690.0,124333.0,125458.0,126266.0,126949.0,...,338727.0,339200.0,340082.0,341065.0,342322.0,344848.0,347899.0,350923.0,353540.0,356399.0
80,Norwood,"7,011 ft (2,137 m)",579.0,San Miguel County,141280.0,141317.0,141856.0,143082.0,144759.0,145818.0,...,295902.0,295173.0,295744.0,296927.0,298508.0,301180.0,303788.0,306326.0,308322.0,311060.0

In [29]:
df.shape

(81, 307)

In [30]:
missing = pd.concat([df.isnull().sum(axis=1), 100 * df.isnull().mean(axis=1)], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending=False).head(10)

     count          %
108    148  48.208469
54     144  46.905537
23     144  46.905537
66     144  46.905537
18     127  41.368078
87     117  38.110749
71     114  37.133550
121    114  37.133550
36     113  36.807818
10     112  36.482085

In [31]:
clean_co_cities = df

In [33]:
clean_co_cities.to_csv('..\data\clean_co_cities.csv')